&-content {
  @include off-canvas-init;
  position: relative;
  transform: translateY(0px);
}

&.is-active &-content {
  transform: translateY(#{$off-canvas-height});

  @media (min-width: $off-canvas-breakpoint) {
    transform: translateY(0px);
  }
}
