&-menu {
  @include off-canvas-init;
  position: absolute;
  width: $off-canvas-width;
  height: $off-canvas-height;

  @if $off-canvas-height != auto {
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(#{-$off-canvas-height});
  }
}

&.is-active &-menu {
  @if $off-canvas-height != auto {
    transform: translateY(0px);

    @media (min-width: $off-canvas-breakpoint) {
      transform: translateY(#{-$off-canvas-height});
    }
  }
}
