$off-canvas-namespace:            "off-canvas" !default;
$off-canvas-position:             top !default;
$off-canvas-width:                auto !default;
$off-canvas-height:               auto !default;
$off-canvas-transition-duration:  .2s !default;
$off-canvas-breakpoint:           to 480px !default;
