&-content {
  position: relative;
}

@if ($oc-style == normal) {
  &-content {
    @include oc-init;
  }

  .oc-active &-content {
    transform: $oc-content-transform;

    @include oc-breakpoint {
      transform: translate3d(0,0,0);
    }
  }
}
