@if ($oc-style == normal) {
  &-fixed {
    @include oc-init;
    transform: translate3d(0,0,0);
  }

  .oc-active &-fixed {
    transform: $oc-content-transform;

    @include oc-breakpoint {
      transform: translate3d(0,0,0);
    }
  }
}
