&-menu {
  @include oc-init;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: $oc-width;
  height: $oc-height;

  @if ($oc-style == normal) {
    z-index: $oc-zindex;
  }

  #{opposite($oc-position)}: auto;

  transform: $oc-menu-transform;

  @include oc-breakpoint {
    display: none !important;
  }
}

.oc-active &-menu {
  transform: translate3d(0,0,0);
}
