$oc-menu-transform:    translate3d(0,0,0);
$oc-content-transform: translate3d(0,0,0);

@if $oc-position == top {
  $oc-menu-transform:    translate3d(0, -#{$oc-height}, 0) !global;
  $oc-content-transform: translate3d(0,  #{$oc-height}, 0) !global;
}
@else if $oc-position == right {
  $oc-menu-transform:    translate3d( #{$oc-width}, 0, 0) !global;
  $oc-content-transform: translate3d(-#{$oc-width}, 0, 0) !global;
}
@else if $oc-position == bottom {
  $oc-menu-transform:    translate3d(0, #{$oc-height}, 0) !global;
  $oc-content-transform: translate3d(0, -#{$oc-height}, 0) !global;
}
@else if $oc-position == left {
  $oc-menu-transform:    translate3d(-#{$oc-width}, 0, 0) !global;
  $oc-content-transform: translate3d( #{$oc-width}, 0, 0) !global;
}
@else {
  @warn "#{$oc-position} is not a valid position!";
}
