// prefix of your classes, for example .oc-menu
$oc-namespace:            "oc" !default;

// display style of the menu, more styles coming soon...
$oc-style:                normal !default;

// z-index of the menu, sometimes necessary
$oc-zindex:               100 !default;

// position of the menu
$oc-position:             top !default;

// width of the menu, if the position is
// top or bottom, leave this at auto
$oc-width:                auto !default;

// height of the menu, if the position is
// left or right, leave this at auto
$oc-height:               auto !default;

// animation duration of opening the menu
$oc-transition-duration:  .2s !default;

// at which point the menu activates or deactivates
$oc-breakpoint:           to 480px !default;

// whether an overlay will appear,
// which the user can click to close the menu
$oc-overlay:              true !default;
